<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmm.mapper.ShopMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lmm.entity.Shop">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description_avg_score" property="descriptionAvgScore"/>
        <result column="service_avg_score" property="serviceAvgScore"/>
        <result column="logistics_avg_score" property="logisticsAvgScore"/>
        <result column="description_score_sum" property="descriptionScoreSum"/>
        <result column="service_score_sum" property="serviceScoreSum"/>
        <result column="logistics_score_sum" property="logisticsScoreSum"/>
        <result column="comment_sum" property="commentSum"/>
        <result column="avatar_uri" property="avatarUri"/>
        <result column="shop_keeper_id" property="shopKeeperId"/>
        <result column="default_address_id" property="defaultAddressId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, description_avg_score, service_avg_score, logistics_avg_score, description_score_sum, service_score_sum, logistics_score_sum, comment_sum, avatar_uri, shop_keeper_id, default_address_id
    </sql>

</mapper>
